.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;

  button {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;

    &.active {
      background-color: white;
      color: black;
    }
  }

  svg {
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
  }
}