.coin-container {
  .content {
    padding: 0.4rem;
    max-width: 740px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;

    &:hover {
      background-color: #3e3e3e;
      cursor: pointer;
    }

    h1 {
      margin: 1rem auto;
    }

    .rank {
      display: flex;
      margin-bottom: 0.3rem;

      .rank-btn {
        border: 1px solid #42009e;
        background-color: #42009e;
        border-radius: 8px;
        padding: 4px;

      }
    }

    .info {
      display: flex;
      align-items: center;
      margin: 1rem 2rem;
      justify-content: space-around;

      .coin-heading {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        p,
        span {
          @media (max-width: 576px) {
            font-size: 0.8rem;
          }
        }

        @media (max-width: 576px) {
          width: 60%;
        }

      }

      .coin-price {
        h2 {
          @media (max-width: 425px) {
            font-size: 1.1rem;
          }
        }

      }

    }

    //table - change % 
    table {
      display: flex;
      flex-direction: column;

      thead,
      tbody {
        padding: 0.2rem;

        tr,
        td {
          display: flex;
          justify-content: space-around;

        }

        td {
          width: 100px;
          background-color: #42009e;
          border-radius: 5px;

          @media (max-width: 768px) {
            width: 80px;
          }

          @media (max-width: 576px) {
            width: 50px;
            font-size: 0.8rem;
          }
        }

      }

      thead {
        color: rgb(91, 91, 91);

      }

    }

    // stats

    .stats {
      display: flex;

      .right,
      .left {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0.2rem;

        .row {
          display: flex;
          align-items: center;
          padding: 0 1rem;
          margin: 0.3rem;
          border-bottom: 1px solid gray;

          h3 {
            color: rgb(91, 91, 91);
            font-size: 1rem;

            @media (max-width: 576px) {
              font-size: 0.7rem;
            }
          }


          p {
            margin-left: auto;
            font-size: 0.85rem;

            @media (max-width: 576px) {
              font-size: 0.6rem;
            }
          }
        }


      }
    }
  }
}

.about {
  text-align: justify;

  h3 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.3em;
  }

  p {
    @media (max-width: 576px) {
      font-size: 0.8rem;
    }
  }

  a {
    color: rgb(80, 204, 163);

    &:hover {
      text-decoration: underline;
    }
  }

}